:root { 
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #687280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #885cf6;

  /* warna baru */

  --a0: #323840;
  --a1: #24292d;
  --b0: #f0f8ff;
  --b1: #2fa1ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #fff;
}

header {
  padding: 2rem 1rem;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  border: none;
  background: none;
}

#new-year-input {
  min-width: 8rem;
}
#new-author-input {
  min-width: 13rem;
  /*width: 13rem;*/
}
#new-title-input {
  min-width: 20rem;
  /*width: 20rem;*/
}

#new-title-input,
#new-author-input,
#new-year-input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-title-input::placeholder,
#new-author-input::placeholder,
#new-year-input {
  color: var(--gray);
}

#new-task-submit {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover {
  opacity: 0.8;
}
#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#reading .task,
#done-read .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
#reading .task .content,
#done-read .task .content {
  flex: 1 1 0%;
}

#reading .task .content .text,
#done-read .task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  text-transform: capitalize;
}

#reading .task .content .text:not(:read-only),
#done-read .task .content .text:not(:read-only) {
  color: var(--pink);
}

#reading .task .content .date-color:not(:read-only),
#done-read .task .content .date-color:not(:read-only),
#reading .task .content .date-color,
#done-read .task .content .date-color {
  max-width: 20rem;
  width: 15rem;
}

#reading .task .actions,
#done-read .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}
.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  color: var(--pink);
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  color: crimson;
}

.task .actions .done {
  color: #198754;
}